@charset "UTF-8";
/*!
 * Copyright 2019 Julien Bonnier
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"),
 * to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense,
 * and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
 * 
 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
 * 
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
 * DEALINGS IN THE SOFTWARE.
 */
.ig-gain:before {
  content: "!";
}

.ig-old:before {
  content: '"';
}

.ig-past:before {
  content: "#";
}

.ig-destroy:before {
  content: "$";
}

.ig-breathe:before {
  content: "%";
}

.ig-live:before {
  content: "%";
}

.ig-civilization:before {
  content: "&";
}

.ig-defend:before {
  content: "'";
}

.ig-help:before {
  content: "(";
}

.ig-pursue:before {
  content: ")";
}

.ig-weak:before {
  content: "*";
}

.ig-avoid:before {
  content: "+";
}

.ig-rebel:before {
  content: ",";
}

.ig-separate:before {
  content: "-";
}

.ig-forget:before {
  content: ".";
}

.ig-create:before {
  content: "/";
}

.ig-advance:before {
  content: "0";
}

.ig-distance:before {
  content: "1";
}

.ig-outside:before {
  content: "1";
}

.ig-path:before {
  content: "2";
}

.ig-deteriorate:before {
  content: "3";
}

.ig-courage:before {
  content: "4";
}

.ig-message:before {
  content: "5";
}

.ig-again:before {
  content: "6";
}

.ig-repeat:before {
  content: "6";
}

.ig-want:before {
  content: "7";
}

.ig-discover:before {
  content: "8";
}

.ig-self:before {
  content: "9";
}

.ig-die:before {
  content: ":";
}

.ig-stability:before {
  content: ";";
}

.ig-stay:before {
  content: ";";
}

.ig-safety:before {
  content: "<";
}

.ig-nature:before {
  content: "=";
}

.ig-conflict:before {
  content: ">";
}

.ig-shapers:before {
  content: "?";
}

.ig-attack:before {
  content: "@";
}

.ig-war:before {
  content: "@";
}

.ig-chaos:before {
  content: "A";
}

.ig-liberate:before {
  content: "B";
}

.ig-see:before {
  content: "C";
}

.ig-less:before {
  content: "D";
}

.ig-now:before {
  content: "E";
}

.ig-present:before {
  content: "E";
}

.ig-not:before {
  content: "F";
}

.ig-inside:before {
  content: "F";
}

.ig-answer:before {
  content: "G";
}

.ig-fear:before {
  content: "H";
}

.ig-hide:before {
  content: "I";
}

.ig-destiny:before {
  content: "J";
}

.ig-simple:before {
  content: "K";
}

.ig-more:before {
  content: "L";
}

.ig-equal:before {
  content: "M";
}

.ig-chance:before {
  content: "N";
}

.ig-difficult:before {
  content: "O";
}

.ig-save:before {
  content: "P";
}

.ig-evolution:before {
  content: "Q";
}

.ig-success:before {
  content: "Q";
}

.ig-question:before {
  content: "R";
}

.ig-escape:before {
  content: "S";
}

.ig-complex:before {
  content: "T";
}

.ig-idea:before {
  content: "U";
}

.ig-thought:before {
  content: "U";
}

.ig-clear:before {
  content: "V";
}

.ig-retreat:before {
  content: "W";
}

.ig-barrier:before {
  content: "X";
}

.ig-data:before {
  content: "Y";
}

.ig-failure:before {
  content: "Z";
}

.ig-follow:before {
  content: "[";
}

.ig-danger:before {
  content: "\\";
}

.ig-lead:before {
  content: "]";
}

.ig-potential:before {
  content: "^";
}

.ig-contemplate:before {
  content: "_";
}

.ig-use:before {
  content: "`";
}

.ig-search:before {
  content: "a";
}

.ig-new:before {
  content: "b";
}

.ig-easy:before {
  content: "c";
}

.ig-react:before {
  content: "d";
}

.ig-have:before {
  content: "e";
}

.ig-capture:before {
  content: "f";
}

.ig-journey:before {
  content: "g";
}

.ig-ignore:before {
  content: "h";
}

.ig-lose:before {
  content: "i";
}

.ig-improve:before {
  content: "j";
}

.ig-future:before {
  content: "k";
}

.ig-pure:before {
  content: "l";
}

.ig-impure:before {
  content: "m";
}

.ig-imperfect:before {
  content: "n";
}

.ig-lie:before {
  content: "o";
}

.ig-together:before {
  content: "p";
}

.ig-resistance:before {
  content: "q";
}

.ig-struggle:before {
  content: "q";
}

.ig-harm:before {
  content: "r";
}

.ig-enlightened:before {
  content: "s";
}

.ig-balance:before {
  content: "t";
}

.ig-perfection:before {
  content: "t";
}

.ig-human:before {
  content: "u";
}

.ig-body:before {
  content: "v";
}

.ig-open:before {
  content: "w";
}

.ig-accept:before {
  content: "w";
}

.ig-nourish:before {
  content: "x";
}

.ig-recharge:before {
  content: "y";
}

.ig-repair:before {
  content: "y";
}

.ig-mind:before {
  content: "z";
}

.ig-soul:before {
  content: "{";
}

.ig-end:before {
  content: "|";
}

.ig-all:before {
  content: "}";
}

.ig-clear-all:before {
  content: "~";
}

.ig-open-all:before {
  content: "";
}

.ig-strong:before {
  content: "";
}

.ig-xm:before {
  content: "";
}

.ig-truth:before {
  content: "";
}

.ig-portal:before {
  content: "";
}

.ig-harmony:before {
  content: "";
}

.ig-peace:before {
  content: "";
}

.ig-technology:before {
  content: "";
}

.ig-intelligence:before {
  content: "";
}

.ig-grow:before {
  content: "";
}

.ig-unbounded:before {
  content: "";
}

.ig-you:before {
  content: "";
}

.ig-other:before {
  content: "";
}

.ig-us:before {
  content: "";
}

.ig-them:before {
  content: "";
}

.ig-share:before {
  content: "";
}

.ig-worth:before {
  content: "";
}

.ig-victory:before {
  content: "";
}

.ig-presence:before {
  content: "";
}

.ig-perspective:before {
  content: "";
}

.ig-mystery:before {
  content: "";
}

.ig-nzeer:before {
  content: "";
}

.ig-interrupt:before {
  content: "";
}

.ig-legacy:before {
  content: "";
}

.ig-live-again:before {
  content: "";
}

.ig-reincarnate:before {
  content: "";
}

.ig-restraint:before {
  content: "";
}

.ig-abandon:before {
  content: "";
}

.ig-knowledge:before {
  content: "";
}

.ig-destination:before {
  content: "";
}

.ig-star:before {
  content: "";
}

.ig-nemesis:before {
  content: "";
}

.ig-field:before {
  content: "";
}

.ig-link:before {
  content: "";
}

.ig-key:before {
  content: "";
}

.ig-shield:before {
  content: "";
}

.ig-toast:before {
  content: " ";
}

.ig-i:before {
  content: "¡";
}

.ig-me:before {
  content: "¡";
}

.ig-contract:before {
  content: "¢";
}

.ig-reduce:before {
  content: "¢";
}

.ig-adapt:before {
  content: "£";
}

.ig-before:before {
  content: "¤";
}

.ig-after:before {
  content: "¥";
}

.ig-begin:before {
  content: "¦";
}

.ig-sustain:before {
  content: "§";
}

.ig-call:before {
  content: "¨";
}

.ig-consequence:before {
  content: "©";
}

.ig-enlightened-type-b:before {
  content: "ª";
}

.ig-osiris:before {
  content: "«";
}

.ig-resistance-type-b:before {
  content: "¬";
}

.ig-response:before {
  content: "®";
}

.ig-sustain-all:before {
  content: "¯";
}

.ig-unknown-1:before {
  content: "°";
}

.ig-unknown-2:before {
  content: "±";
}

.ig-unknown-3:before {
  content: "²";
}

.ig-unknown-4:before {
  content: "³";
}

.ig-unknown-5:before {
  content: "´";
}

.ig-unknown-6:before {
  content: "µ";
}

.ig-unknown-7:before {
  content: "¶";
}

.ig-unknown-8:before {
  content: "·";
}

.ig-unknown-9:before {
  content: "¸";
}

.ig-unknown-10:before {
  content: "¹";
}

.ig-unknown-11:before {
  content: "º";
}

.ig-unknown-12:before {
  content: "»";
}

.ig-unknown-13:before {
  content: "¼";
}

.ig-unknown-14:before {
  content: "½";
}

.ig-unknown-15:before {
  content: "¾";
}

.ig-unknown-16:before {
  content: "¿";
}

.ig-unknown-17:before {
  content: "À";
}

.ig-unknown-18:before {
  content: "Á";
}

.ig-unknown-19:before {
  content: "Â";
}

.ig-unknown-20:before {
  content: "Ã";
}

@font-face {
  font-family: "Ingress Glyphs";
  src: url("/fonts/jblab-ingress-glyphs.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/jblab-ingress-glyphs.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/jblab-ingress-glyphs.otf") format("opentype"),
    url("/fonts/jblab-ingress-glyphs.svg") format("svg"),
    url("/fonts/jblab-ingress-glyphs.ttf") format("truetype"),
    url("/fonts/jblab-ingress-glyphs.woff") format("woff"),
    url("/fonts/jblab-ingress-glyphs.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ingress Glyphs Light";
  src: url("/fonts/jblab-ingress-glyphs.light.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/jblab-ingress-glyphs.light.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/jblab-ingress-glyphs.light.otf") format("opentype"),
    url("/fonts/jblab-ingress-glyphs.light.svg") format("svg"),
    url("/fonts/jblab-ingress-glyphs.light.ttf") format("truetype"),
    url("/fonts/jblab-ingress-glyphs.light.woff") format("woff"),
    url("/fonts/jblab-ingress-glyphs.light.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ingress Glyphs Bold";
  src: url("/fonts/jblab-ingress-glyphs.bold.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/jblab-ingress-glyphs.bold.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/jblab-ingress-glyphs.bold.otf") format("opentype"),
    url("/fonts/jblab-ingress-glyphs.bold.svg") format("svg"),
    url("/fonts/jblab-ingress-glyphs.bold.ttf") format("truetype"),
    url("/fonts/jblab-ingress-glyphs.bold.woff") format("woff"),
    url("/fonts/jblab-ingress-glyphs.bold.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ingress Glyphs Extra Bold";
  src: url("/fonts/jblab-ingress-glyphs.extra-bold.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/jblab-ingress-glyphs.extra-bold.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/jblab-ingress-glyphs.extra-bold.otf") format("opentype"),
    url("/fonts/jblab-ingress-glyphs.extra-bold.svg") format("svg"),
    url("/fonts/jblab-ingress-glyphs.extra-bold.ttf") format("truetype"),
    url("/fonts/jblab-ingress-glyphs.extra-bold.woff") format("woff"),
    url("/fonts/jblab-ingress-glyphs.extra-bold.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

[class^="ig-"],
[class*="ig-"] {
  font-family: "Ingress Glyphs";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="ig-"].light,
[class*="ig-"].light {
  font-family: "Ingress Glyphs Light";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="ig-"].bold,
[class*="ig-"].bold {
  font-family: "Ingress Glyphs Bold";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="ig-"].extra-bold,
[class*="ig-"].extra-bold {
  font-family: "Ingress Glyphs Extra Bold";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
